h1 Все статьи
table.table.table-hover
  thead
    tr
      th
        strong
          | Название
      th
        strong
          | Категория
      th
        strong
          | Пользователь
      th
        strong
          | Комментариев
      th
          |
      th
          |
      th
  - @articles.each do |a|
    tbody
      tr
        td = a.header
        td = a.category.category
        td = a.user.email
        td = a.comments_count
        td = link_to 'Показать', article_path(a), class: "btn btn-primary btn-xs"
        td = link_to 'Править', edit_article_path(a), class: "btn btn-primary btn-xs"
        td = link_to 'Удалить', article_path(a), class: "btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' }
br        
p = link_to 'Создать статью', new_article_path, class: "btn btn-primary"